.vscode/
build/
built/
game_test_ambakounzous
Testing/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.o
*.a
*.so
*.exe

*~
*.swp
*.bak

*.log
*.tmp

.idea/
.sln
.vcxproj


.codegpt
sdl2-demo/

